<div class="modal-success none">
    <div class="left">
        <div class="check-mark"></div>
        <div>
            <p class="transfer-info">Twój przelew został zrealizowany</p>
            <div class="modal-data">
                <div class="customer-and-recipient">
                    <div>
                        <p class="modal-one">Nadawca</p>
                        <p class="modal-two">Moje konto Podstawowe</p>
                        <p class="modal-three">12 1234 1234 1234 1234 1234 1234</p>
                    </div>
                    <div class="recipient-data">
                        <p class="modal-one">Odbiorca</p>
                        <p class="modal-two">Marek Kowalewski</p>
                        <p class="modal-three">12 1234 1234 1234 1234 1234 1234</p>
                    </div>
                </div>
                <div class="transfer-amount-modal">
                    <p class="modal-one">Kwota</p>
                    <p class="modal-two">23 100,23 PLN</p>
                    <p class="modal-three">Saldo po operacji: 123 123,12 PLN</p>
                </div>
            </div>
            <div class="button modal-success-send">
                <p>Potwierdzenie PDF</p>
            </div>
        </div>
    </div>
    <div (click)="closeModal()" class="modal-x-button success"></div>
</div>
