<aside>
    <div class="call">
        <p class="call-text1">Masz wolne środki</p>
        <p class="call-text2">
            Na swoim koncie masz dużo wolnych środków. Warto przenieść je na lokatę i uchronić przed inflacją
        </p>
        <div class="blue-bottom">
            <p class="call-text3">Call To Action</p>
            <div class="dots">
                <div class="empty"></div>
                <div class="full"></div>
                <div class="full"></div>
            </div>
        </div>
    </div>
</aside>
