<div class="menu-container">
    <img src="assets/ikona-lupa.svg" class="magnifier nav-mobile" alt="magnifier" />
    <img src="assets/ikona-hamburger.svg" class="hamburger nav-mobile" alt="menu" />

    <img src="assets/settings.svg" class="settings upper-nav" alt="settings" />
    <img src="assets/mail.svg" class="mail upper-nav" alt="mail" />
    <img src="assets/user.svg" class="user upper-nav" alt="user" />
    <p class="name upper-nav">Małgorzata Kowalska</p>
    <p (click)="onLogout()" class="logout upper-nav">Wyloguj</p>
</div>
