<section *ngIf="isMobile">
    <div *ngFor="let transfer of transfers | async | slice: 0:[items]">
        <div class="line"></div>
        <div class="table">
            <div class="cell-one cell transfers-up">
                <img src="assets/little-arrow.svg" class="little-arrow" alt="little-arrow" />
            </div>
            <div class="cell-two cell transfers-up">
                <p class="who">{{ transfer.recipientName }}</p>
            </div>
            <div class="cell-three cell transfers-up">
                <p class="how-much">{{ transfer.transferAmount | amountFormat }}</p>
            </div>
            <div class="cell-one cell transfers-down">
                <p class="when">{{ transfer.date | date: 'd.MM':'UTC+1':'pl' }}</p>
            </div>
            <div class="cell-two cell transfers-down">
                <p class="why">{{ transfer.title }}</p>
            </div>
            <div class="cell-three cell transfers-down"></div>
        </div>
    </div>
    <div class="line"></div>
    <div class="show" (click)="showMore()">pokaż więcej</div>
</section>
<section *ngIf="!isMobile">
    <div class="strap table">
        <div class="cell tablet-cell-one"><p class="when">Data</p></div>
        <div class="cell tablet-cell-two"><p class="little-arrow">Typ</p></div>
        <div class="cell tablet-cell-three"><p class="who">Odbiorca/ Nadawca/ Tytuł</p></div>
        <div class="cell tablet-cell-four"><p class="category">Kategoria</p></div>
        <div class="cell tablet-cell-five"><p class="how-much">Kwota</p></div>
    </div>
    <div *ngFor="let transfer of transfers | async | slice: 0:[items]">
        <div class="line"></div>
        <div class="table">
            <div class="cell transfers-up tablet-cell-one">
                <p class="when">{{ transfer.date | date: 'd.MM':'UTC+1':'pl' }}</p>
            </div>
            <div class="cell transfers-up tablet-cell-two">
                <img src="assets/little-arrow.svg" class="little-arrow" alt="little-arrow" />
            </div>
            <div class="cell transfers-up tablet-cell-three">
                <p class="who">{{ transfer.recipientName }}</p>
            </div>
            <div class="cell transfers-up tablet-cell-four">
                <p class="category">{{ transfer.cathegory }}</p>
            </div>
            <div class="cell transfers-up tablet-cell-five">
                <p class="how-much">{{ transfer.transferAmount | amountFormat }}</p>
            </div>
            <div class="cell transfers-down tablet-cell-one"></div>
            <div class="cell transfers-down tablet-cell-two"></div>
            <div class="cell transfers-down tablet-cell-three">
                <p class="why">{{ transfer.title }}</p>
            </div>
            <div class="cell transfers-down tablet-cell-four"></div>
            <div class="cell transfers-down tablet-cell-five"></div>
        </div>
    </div>
    <div class="line"></div>
    <div class="show" (click)="showMore()">pokaż więcej</div>
</section>
