@import 'style/_variables.scss';
@import 'style/_mixins.scss';

div {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        text-transform: uppercase;
        color: $darker-gray;
    }
}

.big {
    font-size: 150px;
    font-weight: bolder;
}

.medium {
    font-size: 30px;
    font-weight: normal;
}
