<footer *ngIf="!isDesktop">
    <div class="container">
        <ul class="DM">
            <li>imperdiet</li>
            <li>fusce lacinia</li>
            <li>leo ut orci</li>
            <li>in consequat nibh</li>
            <li>tincidunt nec</li>
        </ul>
        <div class="copyright">Copyright © 2020</div>
    </div>
    <div class="KRS">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis purus in sem tempor, vel dictum nunc
        pellentesque. Integer auctor cursus elit. Nam vel leo nec ligula lacinia mollis. In sagittis arcu ante, id
        placerat tellus posuere at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut sagittis est vitae
        enim pulvinar, semper dapibus tortor dictum. Nullam quis placerat dolor.
    </div>
</footer>

<footer *ngIf="isDesktop">
    <div class="footer-content">
        <div class="container">
            <ul class="DM">
                <li>imperdiet</li>
                <li>fusce lacinia</li>
                <li>leo ut orci</li>
                <li>in consequat nibh</li>
                <li>tincidunt nec</li>
            </ul>
            <div class="KRS">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis purus in sem tempor, vel dictum
                nunc pellentesque. Integer auctor cursus elit. Nam vel leo nec ligula lacinia mollis. In sagittis arcu
                ante, id placerat tellus posuere at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut
                sagittis est vitae enim pulvinar, semper dapibus tortor dictum. Nullam quis placerat dolor.
            </div>
        </div>
        <div class="copyright">Copyright © 2020</div>
    </div>
</footer>
