<div class="login">
  <div>
    <img src="assets/main-logo.png" class="logo" alt="logo" />
    <form>
        <p class="form-name">Logowanie</p>
        <p><label for="email">Email</label></p>
        <input [(ngModel)]="email" required type="string" name="email" id="email" class="email" />
        <p><label for="password">Hasło</label></p>
        <input [(ngModel)]="password" required type="string" name="password" id="password" class="password" />
        <div (click)="onLogin()" class="main-button button login-send"><p class="main-button-text">Zaloguj</p></div>
    </form>
  </div>
</div>
