<div class="modal">
    <div class="transfer-rectangle top">
        <div class="upper-rectangle-container">
            <p class="upper-rectangle-text">Przelew krajowy</p>
        </div>
        <img src="assets/x.svg" (click)="closeTransfer()" class="x-button" alt="x-button" />
    </div>
    <form #transferForm="ngForm" (submit)="onSubmit(transferForm)" class="transferForm">
        <div class="customer-account-number-div">
            <p><label for="customerAccountNumber">Z rachunku</label></p>
            <select ngModel id="customer-account-number" class="customer-account-number" name="customerAccountNumber"
                ><option value="mojeKontoPrzekorzystne">Moje Konto Podstawowe</option></select
            >
        </div>
        <div class="form-item recipient-account-number-div">
            <p><label for="recipientAccountNumber">Na rachunek</label></p>
            <input
                ngModel
                required
                minlength="26"
                maxlength="28"
                #recipientAccountNumber="ngModel"
                type="string"
                name="recipientAccountNumber"
                id="recipient-account-number"
                class="recipient-account-number"
                placeholder="Wpisz rachunek odbiorcy"
            />

            <div
                *ngIf="
                    !transferForm.controls.recipientAccountNumber?.valid &&
                    !transferForm.controls.recipientAccountNumber?.untouched
                "
                class="hint"
            >
                <p>
                    Długość numeru konta niezgodna z IBAN
                </p>
            </div>
        </div>
        <div *ngIf="isMobile" class="mobile-column mobile">
            <div class="transfer-amount-div">
                <p><label for="transferAmount">Kwota przelewu</label></p>
                <p class="currency">PLN</p>
                <input
                    ngModel
                    required
                    min="0.01"
                    step="0.01"
                    #transferAmount="ngModel"
                    type="number"
                    name="transferAmount"
                    id="transfer-amount"
                    class="transfer-amount"
                    placeholder="12 040,37"
                />
                <div *ngIf="!transferAmount.valid && !transferAmount.untouched" class="hint">
                    <p>Nieprawidłowa wartość</p>
                </div>
            </div>
            <div class="customer-address-div">
                <p><label for="customerAddress">Adres odbiorcy (opcjonalnie)</label></p>
                <input
                    ngModel
                    type="string"
                    name="customerAddress"
                    id="customer-address"
                    class="customer-address"
                    placeholder="Wpisz adres odbiorcy"
                />
            </div>
            <div class="title-div">
                <p><label for="title">Tytułem</label></p>
                <input
                    ngModel
                    required
                    type="string"
                    name="title"
                    id="title"
                    class="title"
                    placeholder="Wpisz tytuł przelewu"
                /><br />
            </div>
        </div>
        <div *ngIf="!isMobile" class="tablet-column tablet">
            <div class="customer-address-div">
                <p><label for="customerAddress">Adres odbiorcy (opcjonalnie)</label></p>
                <input
                    ngModel
                    type="string"
                    name="customerAddress"
                    id="customer-address"
                    class="customer-address"
                    placeholder="Wpisz adres odbiorcy"
                />
            </div>
            <div class="tablet-row">
                <div class="transfer-amount-div">
                    <p><label for="transferAmount">Kwota przelewu</label></p>
                    <p class="currency">PLN</p>
                    <input
                        ngModel
                        required
                        min="0.01"
                        step="0.01"
                        #transferAmount="ngModel"
                        type="number"
                        name="transferAmount"
                        id="transfer-amount"
                        class="transfer-amount"
                        placeholder="12 040,37"
                    />
                    <div *ngIf="!transferAmount.valid && !transferAmount.untouched" class="hint">
                        <p>Nieprawidłowa wartość</p>
                    </div>
                </div>
                <div class="title-div">
                    <p><label for="title">Tytułem</label></p>
                    <input
                        ngModel
                        required
                        type="string"
                        name="title"
                        id="title"
                        class="title"
                        placeholder="Wpisz tytuł przelewu"
                    /><br />
                </div>
            </div>
        </div>
        <div class="checkbox">
            <input
                ngModel
                type="checkbox"
                class="permanent-order permanent-order-check"
                id="permanent-order"
                name="permanentOrder"
            />
            <p class="checkbox-text">Zapisz jako zlecenie stałe</p>
        </div>
        <div class="order-name-div">
            <p><label for="orderName">Nazwa zlecenia</label></p>

            <input
                ngModel
                minlength="1"
                maxlength="30"
                type="string"
                name="orderName"
                id="order-name"
                class="order-name"
                placeholder="Wpisz nazwę zlecenia"
                [required]="transferForm.value.permanentOrder ? true : false"
            />
        </div>
        <br />
        <button type="submit" [disabled]="!transferForm.valid" class="transfer-button">
            <div class="transfer-form-submit">
                <img src="assets/white-arrow.svg" class="white-arrow" alt="white-arrow" />
                <p class="transfer-form-text">Dalej</p>
            </div>
        </button>
    </form>
    <div class="transfer-rectangle shadow bottom"></div>
</div>
