@media (min-width: 768px) {
    main {
        display: flex;
        justify-content: center;
        padding: 40px 20px;
    }
}

@media (min-width: 1352px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 39px 66px 40px;
    }

    .aside {
        display: flex;
        flex-direction: column;
        width: 380px;
        display: block;
        margin-left: 40px;
        aside {
            padding: 10px;
            width: 380px;
        }
    }
}
