<section>
    <div class="account">
        <div>
            <p class="account-type">Rachunek podstawowy</p>
            <div class="my-account">
                <p class="account-name">Moje konto podstawowe</p>
                <img src="assets/arrow.svg" class="arrow" alt="arrow" />
            </div>
            <p class="account-number">12 3456 7890 1234 5678 9012 3456</p>
        </div>
        <div class="my-founds">
            <p class="available-founds">Dostępne Środki</p>
            <p class="amount">12 345,67 PLN</p>
        </div>
    </div>
</section>
